<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <title>Profile pages</title>
    <style>
      img.center {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <% include partials/nav.ejs %>
      <div id="main" class="main"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
              <%if (data.pictureLink == null){%>
              <img src="assets/noProfileImage.png" class="center profilePic" />
              <% }else{%> <img src= <%=data.pictureLink.toString()%>
              class="rounded-circle center profilePic"> <%}%>
              <h1><%= data.firstName %> <%= data.lastName %></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="jumbotron">
              <h3>Bio</h3>
              <p><%= data.bio%></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="jumbotron">
              <h3>Major</h3>
              <p><%= data.major%></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="jumbotron">
              <h3>Classes</h3>
              <p><%= data.classList%></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="jumbotron">
              <h3>Clubs</h3>
              <p><%= data.club%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
